@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Raleway:200,300,400,500,700,900');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 95%;
	margin: 0 auto;
}

/*typography
====================*/

.title {
	font-family: 'Bilbo Swash Caps', cursive;
	font-size: 4.7rem;
}

.subtitle {
	font-size: 1.5rem;
	font-weight: 600;
}

.subtitle span {
	font-size: 0.8em;
	font-weight: 300;
	display: block;
}

h1 {
	font-size: 2rem;
	font-weight: 600;
	margin: 1rem 0;
	/*text-align: center;*/
}

p {
	font-weight: 300;
}

@media (min-width: 30rem) {
	.title {
		font-size: 6rem;
	}

	.subtitle {
		font-size: 1.7rem;
	}
}

@media (min-width: 50rem) {
	.title {
		font-size: 9rem;
	}

	.subtitle {
		font-size: 2rem;
	}
}

/*icons
====================*/

.icon {
	font-size: 3rem;
	padding: 0.25em;
}

/*hero
====================*/

#home-hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/ryan_hero.jpg");
	background-position: center;
	background-size: cover;
	height: 100vh;

	color: #FFFFFF;
	text-align: center;
	padding-top: 35vh;
}

#home-hero i {
	font-size: 1.5rem;
	opacity: 0.3;
	display: inline-block;
	padding: 0.2em;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

#home-hero i:hover,
#home-hero i:focus {
	opacity: 1;
}

@media (min-width: 50rem) {
	#home-hero {
		background-attachment: fixed;
	}
}

/*bio
====================*/

#home-bio {
	text-align: center;
	padding: 3em 0;
}

.bio-img {
	background-image: url("../images/ryan_profile.jpg");
	background-size: 100vw;
	background-position: center;

	border-radius: 50%;
	width: 70vw;
	height: 70vw;
	margin: 0 auto;
}

@media (min-width: 50rem) {
	#home-bio {
		text-align: left;
		/*padding: 3em 1em;*/
		height: 26rem;
	}

	.bio-img {
		width: 20rem;
		height: 20rem;
		background-size: 30em;

		position: absolute;
		left: 5rem;
	}

	.bio-text {
		padding: 1em 3rem;
		margin-left: 25rem;
	}
}

/*footer
====================*/

