/*import fonts*/
@import url('https://fonts.googleapis.com/css?family=Merriweather|Raleway:200,300,400,500,700,900');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 95%;
	margin: 0 auto;
}

/*typography
====================*/

.title {
	font-weight: 700;
	font-size: 3rem;
}

.subtitle {
	font-size: 1.2em;
	font-weight: 300;
}

h1 {
	/*font-family: 'Merriweather';*/
	font-size: 2rem;
	font-weight: 500;
	margin: 1rem 0;
}

p {
	font-weight: 300;
}

/*tablet*/
@media (min-width: 30rem) {
	.title {
		font-size: 5rem;
	}

	.subtitle {
		font-size: 1.7rem;
	}
}

/*desktop*/
@media (min-width: 50rem) {
	.title {
		font-size: 8rem;
	}

	.subtitle {
		padding-left: 0.1em;
		font-size: 3rem;
	}
}

/*icons
====================*/

.icon {
	font-size: 3rem;
	padding: 0.25em;
}

/*hero
====================*/

#home-hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/ryan_hero.jpg");
	background-position: center;
	background-size: cover;
	height: 80vh;

	text-align: center;
	color: #FFFFFF;
	padding-top: 35vh;
}

/*menu icon*/
#home-hero .menu {
	font-size: 1.5em;
	padding: 0.2em;

	text-align: right;
	top: 1;
	right: 1;
}

#home-hero .menu:hover {
	opacity: 0.3;
}


#home-hero .menu:focus {
	opacity: 0.3;
	/*background-color: (rgba(255, 255, 255, 0.5));*/
}

/*tablet*/
@media (min-width: 30rem) {
	#home-hero {
		height: 90vh;
	}
}

/*desktop*/
@media (min-width: 50rem) {
	#home-hero {
		height: 100vh;
		background-attachment: fixed;
		padding-top: 50vh;
		text-align: left;
	}
}

/*bio
====================*/

#home-bio {
	text-align: center;
	padding: 3em 0;
}

.bio-img {
	background-image: url("../images/ryan_profile.jpg");
	background-size: 100vw;
	background-position: center;

	border-radius: 50%;
	width: 70vw;
	height: 70vw;
	margin: 0 auto;
}

@media (min-width: 50rem) {
	#home-bio {
		text-align: left;
		/*padding: 3em 1em;*/
		height: 26rem;
	}

	.bio-img {
		width: 20rem;
		height: 20rem;
		background-size: 30em;

		position: absolute;
		left: 5rem;
	}

	.bio-text {
		padding: 1em 3rem;
		margin-left: 25rem;
	}
}

/*projects
====================*/

#home-projects {
	text-align: center;
}

.project {
	margin: 0;
	position: relative;
}

.project img {
	display: block;
}

.project-desc {
	position: absolute;
	z-index: 100;
	left: 5em;
	right: 5em;
	/*left: 0;*/
	/*right: 0;*/
	padding: 0.5em;
	top: 4em;
	/*top: 0;*/
	/*bottom: 0;*/
	color: white;
	background: rgba(0, 0, 0, 0.5);
}

@media (min-width: 50rem) {
	#home-projects h1 {
		font-size: 4rem;
		padding-bottom: 0.7em;
	}

	.project {
		width: 33.333%;
		display: inline-block;
	}

	.project img {
		max-height: 100%;
	}
}

/*PSA
====================*/

.PSA {
	text-align: center;
	font-size: 3rem;
	font-weight: 500;
	padding: 1em;
}

/*footer
====================*/

footer {
	background: #24231F;
	color: white;
	/*padding: 1em;*/
	padding-bottom: 1.3em;
}

.social-media{
	padding-top: 1.5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.social-media i {
	font-size: 1.5em;
	color: #8A8A8A;
	padding: 0.5em;
}

.contact {
	padding: 1.5em;
}

.email {
	color: #8A8A8A;
	padding: 0.5em;
}

.copyright {
	color: #8A8A8A;
	font-size: 0.7em;
	float: right;
	margin-right: 0.3em;
	/*right: 0.3em;*/
	/*bottom: 0.3em;*/
}