@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Raleway:200,300,400,500,700,900');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 95%;
	margin: 0 auto;
}

/*typography
====================*/

.title {
	font-family: 'Bilbo Swash Caps', cursive;
	font-size: 4.7rem;
}

.subtitle {
	font-size: 1.5rem;
	font-weight: 600;
}

.subtitle span {
	font-size: 0.8em;
	font-weight: 300;
	display: block;
}

@media (max-width: 23rem) {
	.title {
		font-size: 4rem;
	}

	.subtitle {
		font-size: 1.2rem;
	}
}

@media (min-width: 55rem) {
	.title {
		font-size: 9rem;
	}

	.subtitle {
		font-size: 2rem;
	}
}

/*icons
====================*/

.icon {
	padding: 0.25em;
	font-size: 3rem;
}

/*hero
====================*/

#home-hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/ryan_hero.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;

	color: #FFFFFF;
	text-align: center;
	padding-top: 35vh;
}

#home-hero i {
	display: inline-block;
	font-size: 1.5rem;
	padding: 0.2em;
	opacity: 0.3;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

#home-hero i:hover,
#home-hero i:focus {
	opacity: 1;
}

/*bio
====================*/

#home-bio img {
	height: 30rem;
}